html, body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 12px;
}

.container {
  height: 100vh;
}

//home page

.homeCol {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.homeTitle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 90px;
  margin-bottom: 1.5rem;
}

.homeBtn {
  width: 30%;
  display: block;
  margin: 0 auto;
  background-color: #fafafa;
  color: #007bff;
}

.homeBtnWrap {
  margin: 0 auto;
}

.homeBackground {
  margin-top: -80px;
  height: 500px;
  width: 100%;
}

//landmark page

.landmarkTitle {
  margin: 10px auto;
  text-align: center;
}

.drag-drop {
  input[type="file"] {
    display: none;
  }
  .drop-zone {
    margin: 0 auto;
    height: 300px;
    border: 1px solid grey;
    width: calc(100% - 2px);
    min-width: 290px;
    background-color: #fafafa;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/browse.png');
  }
}

.flag {
  margin: 10px;
  height: 30px;
  width: 45px;
}

.flags {
  margin-top: 5px;
  text-align: center;
}

.language > input {
  visibility: hidden;
  position: absolute;
}
.language > input + img {
  cursor:pointer;
  border:2px solid transparent;
}
.language > input:checked + img {
  border:2px solid #b4ecb4;
}

.sendButton {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 290px;
  height: 40px;
  line-height: 0;
  margin-bottom: 20px;
  border-radius: 0 0 5px 5px;
  background-color: #000080;
  color: white;
}

.resultsButton {
  background-color: #fafafa;
  margin-top: 5px;
  width: 100%;
  min-width: 290px;
  border-radius: 5px;
}

.wikiTitle {
  text-align: center;
}

.wikiExtract {
  font-family: 'Palanquin', sans-serif;
  font-weight: 300;
  text-align: justify;
}

.wikiSaveBtn {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 290px;
  margin-bottom: 10px;
}
