$brand: #5cb4c7;

html, body {
  height: 100vh;
  width: 100vw;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 12px;
}

.container {
  height: 100vh;
}

//home page

.homeCol {
  margin-bottom: 90px;
}

.homeTitle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12vw;
  // max-width: 90px;
  margin-bottom: 1.5rem;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 0.75);
}

.homePage {
  background-image: url('https://images.unsplash.com/photo-1458086235996-865752e03740?auto=format&fit=crop&w=1834&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.homeBtn {
  background-color: $brand;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
  margin: 0 5px;
  text-decoration: none;
  padding: 14px 20px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: darken($brand, 10%);
  }
}

.homeBtnWrap {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

//landmark page

.landmarkTitle {
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 0.75);
}

.landmarkTitleLink {
  color: #000;
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
    color: #000 !important;
  }
}

.drag-drop {
  input[type="file"] {
    display: none;
  }
  .drop-zone {
    margin: 0 auto;
    height: 300px;
    border: 1px solid grey;
    width: calc(100% - 2px);
    min-width: 290px;
    max-width: 370px;
    background-color: #fafafa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/browse.png');
  }
}

.flag {
  margin: 10px;
  height: 30px;
  width: 45px;
}

.flags {
  margin-top: 5px;
  text-align: center;
}

.language > input {
  visibility: hidden;
  position: absolute;
}
.language > input + img {
  cursor:pointer;
  border:2px solid transparent;
}
.language > input:checked + img {
  border:2px solid #b4ecb4;
}

.speechWrap {
  float: left;
  margin-left: 15px;
}

.speechBtn {
  background-image: url('/assets/play.png');
  background-size: 25px;
  background-repeat: no-repeat;
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
  border: none;
  &.pauseClass {
    background-image: url('/assets/pause.png');
  }
}

.sendButton {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 290px;
  max-width: 370px;
  height: 40px;
  line-height: 0;
  margin-bottom: 20px;
  border: 1px solid $brand;
  border-radius: 0 0 5px 5px;
  background-color: $brand;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.resultsButton {
  background-color: #fff;
  border: 1px solid $brand;
  margin-top: 5px;
  width: 100%;
  min-width: 290px;
  border-radius: 5px;
  // text-transform: uppercase;
  // font-weight: bold;
  // letter-spacing: 3px;
}

.wikiTitle {
  text-align: center;
}

.wikiExtract {
  font-family: 'Palanquin', sans-serif;
  font-weight: 300;
  text-align: justify;
}

.wikiSaveBtn {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 290px;
  margin-bottom: 10px;
  border: 1px solid $brand;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

//form

.formWrap {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/24/95/4a/24954ae6c1ea7c9fda155ffce7b68bbe.jpg');
  background-repeat: no-repeat;
  background-position: left 10px bottom 70px;
}

.formGroupWrap {
  margin-top: 140px;
  width: 33%;
}

.formGroup {
  margin: 15px 0;
}

.formTitle {
  letter-spacing: 1px;
}

.formItem {
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid grey;
  &:focus {
    outline: none;
    border-bottom: 2px solid $brand;
  }
}

.formBtn {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  line-height: 0;
  border-radius: 3px;
  background-color: $brand;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

@media only screen and (max-width: 900px) {
  .formWrap {
    background-size: 60%;
    background-position: bottom left;
    align-items: flex-start;
  }

  .formGroupWrap {
    margin-top: 160px;
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .formWrap {
    background-image: url('/assets/towerbridge.jpg');
    background-size: 100%;
    background-position: 20px bottom;
    align-items: flex-start;
  }

  .formGroupWrap {
    margin-top: 120px;
    width: 90%;
  }
}
